<!DOCTYPE html>
<html>

<head>
  <title>Fynd Academy</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
    .bcontent {
            margin-top: 10px;
    }

    .about {
  padding: 0;
  margin-top: 40px;
}

.about .container {
  background-color: #f7f8f9;
  padding: 60px 50px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #ffbb99;
  color: white;
}

h2{
  color: #0f0f0f;
}
</style>

<link rel="stylesheet" href="/static/style.css">
<body bgcolor= " #ffffff">
<div class="topnav" id="myTopnav">
  <img src ="/static/images/logoo.png" style="width:200px;height:70px;margin-left: 100px;">
  <a href="/login" style="margin-right:90px;"> Login </a>
  <a href="#about"> About Us  </a>
  <a href="#admissions"> Admissions  </a>
  <a href="#courses"> Courses </a>
  <a href="/main"> Home </a>
  
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<br>
<div class="container">
  <img src="/static/images/index.png" alt="Snow" height="530px">
 </div>
<br>
<br>
<br> 

<section id="courses">
<div class="container bcontent" >
        <b><h2>Courses</h2></b>
        <hr />
        <div class="card" style="width:1200px; height: 440px;">
            <div class="row no-gutters" style="text-align: left;">
                <div class="col-sm-5">
                  <br>
                    <img class="card-img" src="/static/images/coursess.jpg" >
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                    <div class="content pt-4 pt-lg-0">
                      <br>
              <h3><p style="color:darkblue;"><b><u>Courses That We Offer</u></b></p></h3>
              <br>
           <ul>
              <li style="font-size: 14;"><a href="/register">1. Full Stack Development</a></li>
              <li style="font-size: 14;"><a href="/signup2">2. Backend with Python</a></li>
          </ul>
            </div>

                        </div>
                </div>
            </div>
        </div>
</div>
</section>
<br>

<section id="admissions">
<div class="container bcontent" >
        <b><h2>Admissions</h2></b>
        <hr />
        <div class="card" style="width:1200px; height: 440px; ">
            <div class="row no-gutters" style="text-align: left;">
                <div class="col-sm-5">
                  <br>
                    <img class="card-img" src="/static/images/admissionn.jpg" >
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                    <div class="content pt-4 pt-lg-0" >
                      <br>
              <h3><p style="color:darkblue;"><b><u>Admission at Fynd Academy</u></b></p></h3>
              
            <p style="color:darkblue;">
                We are looking for motivated candidates who are willing to put in the effort to go beyond the norm. If you are a fresher, or an experienced engineer changing lanes, Fynd Academy is the perfect launchpad for you.
            </p>
            <p style="color:darkblue;">
              Our classes are designed to give you pro skills in just a few weeks. Take advantage, and learn from the best.
           </p>
        <ul>
        <li style="color:darkblue;"><b>Qualification: </b> CS/IT - Fresher/Experienced</li>
        <li style="color:darkblue;"><b>Mode: </b>Online</li>
        <li style="color:darkblue;"><b>Course Schedule: </b>25 hours a week</li>
        <li style="color:darkblue;"><b>Difficulty: </b>Moderate</li>
        <br>
        <li style="color:darkblue;"><b>Apply: </b><a href="/signup">Click here to Apply Now</a></li>
       </ul>

            </div>

            </div>
                </div>
            </div>
        </div>
</div>
</section>
<br>

<section id="about">
<div class="container bcontent" >
        <b><h2>About Us</h2></b>
        <hr />
        <div class="card" style="width:1200px; height: 440px;">
            <div class="row no-gutters" style="text-align: left;">
                <div class="col-sm-5">
                  <br>
                    <img class="card-img" src="/static/images/about.jpg" >
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                    <div class="content pt-4 pt-lg-0">
                      <br>
              <p style="color:darkblue;"><b><u>Our Mission :</u></b></p>
              
              <p style="color:darkblue;">
          Empowering engineers to launch great careers at 10x speed.
          <br>
              
        Fynd Academy is an accelerated learning program for freshers and experienced engineers to build programming skills and meaningfully contribute at work from Day One.
              </p>

              <p style="color:darkblue;"><b><u>Fynd Academy Traniee :</u></b></p>
              <p style="color:darkblue;" >
                Fynd Academy sets up engineers on a lifelong growth path. 
                <br>

                Learn what our Trainee dream and work towards, and prepare to start your programming career with the best.
              </p>
            </div>

            </div>
                </div>
            </div>
        </div>
</div>
</section>
<br>


<footer>
  <p style="color:darkblue;" >@Copyright Fynd Academy. All Rights Reserved<br></p>
  <p style="color:darkblue;">info@example.com</p>
</footer>

</body>
</html>

